<li class="nav-item">
  <% if current_page?(dashboard_path) %>
    <%= link_to "Home", dashboard_path, class: "nav-link active" %>
  <% else %>
    <%= link_to "Home", dashboard_path, class: "nav-link" %>
  <% end %>
</li>
<li class="nav-item">
  <% if current_page?(new_post_path) %>
    <%= link_to "New Post", new_post_path, class: "nav-link active" %>
  <% else %>
    <%= link_to "New Post", new_post_path, class: "nav-link" %>
  <% end %>
</li>
<li class="nav-item">
  <% if current_page?(profile_path(current_account.username)) %>
    <%= link_to "Profile", profile_path(current_account.username), class: "nav-link active" %>
  <% else %>
    <%= link_to "Profile", profile_path(current_account.username), class: "nav-link" %>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to "Sign out", destroy_account_session_path, method: :delete, class: "nav-link" %>
</li>