<!DOCTYPE html>
<html>
  <head>
    <title>Stogram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/42a7141eb1.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-sm navbar navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="<%= account_signed_in? ? dashboard_path : root_path %>">Stogram</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if account_signed_in? %>
              <%= render "layouts/account_nav" %>
            <% else %>
              <%= render "layouts/public_nav" %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav><br><br>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <%= yield %>
      </div>
    </div>
  </div>

  </body>
</html>
