<div class="container">
  <div class="row">
    <div class="col-8">
      <br>
      <% @posts.each do |post| %>
        <div class="card">

          <div class="card-header">
            <div class="row">
              <div class="col-sm-auto">
                <%= image_tag post.account.image_url,
                              class: "imx-auto d-block rounded-circle", height: "50px", width: "50px"  %>
              </div>
              <div class="col-sm-auto" style="margin: auto">
                <h5 class="text-start"><%= post.account.username%></h5>
              </div>
              <div class="col" style="margin: auto">
                <h5 class="text-muted text-end">created at <%= post.created_at %></h5>
              </div>
            </div>
          </div>

          <%= image_tag post.image_url, class: "img" %>

          <div class="card-footer bg-transparent">
            <h5 class="card-title"><%= post.account.username%></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated <%= post.updated_at %></small></p>
          </div>
        </div><br>
      <% end %>
    </div>
  </div>
</div>
