<div class="container" style="min-width: 1000px">
  <br>
  <div class="row">
    <div class="col-4">
      <%= image_tag @account.image_url, width: "250px", height: "250px", class: "imx-auto d-block rounded-circle" %>
    </div>
    <div class="col-8 text-start" style="margin: auto">
      <div class="row row-cols-auto">
        <div class="col"><h1><%= @account.username %></h1></div>
        <div class="col mx-auto"><%= link_to "Edit Profile", edit_account_registration_path, class: "btn btn-muted" if can_edit_profile? @account.id %></div>
      </div>
      <div class="row row-cols-auto">
          <div class="col"><%= @account.posts.count %> posts</div>
          <div class="col" type="button" data-bs-toggle="modal" data-bs-target="#followers"><%= @account.total_followers %> followers</div>
          <div class="col" type="button" data-bs-toggle="modal" data-bs-target="#following"><%= @account.total_following %> following</div>
      </div>
      <p><%= @account.full_name %></p>
      <%= simple_format @account.description %>

      <p><%= link_to @account.website if @account.website.present? %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row row-cols-3">
        <% @posts.each do |post| %>
          <%= link_to post_path(post.id) do %>
            <div class="col picture">
              <%= image_tag post.image_url, class: "img img-fluid", height: "300px", style: "margin: 14px"  %>
          </div>
          <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="following" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Followings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @account.all_followings.each do |account|  %>
          <div class="row fs-4">
            <%= render "username", account: account, size: 25 %>
            <div class="col text-end">
              <%= link_to "Unfollow", unfollow_account_path(account), method: :delete, class: "btn btn-outline-secondary" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="followers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Followers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @account.all_followers.each do |account|  %>
          <div class="row fs-4">
            <%= render "username", account: account, size: 25 %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>